razorpay-create-order-api/workflow.json
{
  "name": "Create Payment Order API: Frontend → n8n → Razorpay",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.razorpay.com/v1/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "amount",
              "value": "={{ $json.amount_paise }}"
            },
            {
              "name": "currency",
              "value": "INR"
            },
            {
              "name": "receipt",
              "value": "=receipt_{{$now}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        48
      ],
      "id": "c52c7cd1-b20c-4baf-9ce8-df66b823452c",
      "name": "Send Payment Request to Razorpay",
      "credentials": {
        "httpBasicAuth": {
          "id": "W02ZHCuAQDqPRbtb",
          "name": "Razorpay - Export"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8cfa3b6a-5f34-49a0-85a2-aaff20e2b574",
              "leftValue": "={{ $json.amount_paise }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        64
      ],
      "id": "3ee6c3dd-de44-4422-b4c7-8de905785472",
      "name": "Validate Plan ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Invalid plan\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        48,
        320
      ],
      "id": "65dc7f4e-815f-47a6-a22d-2d7fe976b4fd",
      "name": "Return Error Response"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        64
      ],
      "id": "caa93eb4-47e6-42cf-81ab-d3f262c4d184",
      "name": "Create Order API Webhook",
      "webhookId": "f20a872e-cf26-4583-b1d5-5e3f3950a022"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        336,
        48
      ],
      "id": "be6e4085-66ed-4520-b361-8f3dedb9ea41",
      "name": "Return Razorpay Order Payload"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3ca4f20-004d-4e74-8667-64a0088172bf",
              "name": "amount_paise",
              "value": "={{({\n  basic: 49900,\n  pro: 299900\n}[$json.body.plan_id] ?? null)}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        64
      ],
      "id": "84947dea-3944-4b65-b8e6-be3086b4c4fd",
      "name": "Map Plan to Amount"
    }
  ],
  "pinData": {},
  "connections": {
    "Send Payment Request to Razorpay": {
      "main": [
        [
          {
            "node": "Return Razorpay Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Plan ID": {
      "main": [
        [
          {
            "node": "Send Payment Request to Razorpay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Order API Webhook": {
      "main": [
        [
          {
            "node": "Map Plan to Amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Razorpay Order Payload": {
      "main": [
        []
      ]
    },
    "Map Plan to Amount": {
      "main": [
        [
          {
            "node": "Validate Plan ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "06370ebe-c195-4fc6-a98a-06745f088399",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b190d774a77c62336d9d3921e7d2d1e3765940e3c528e8ff3b7a9609335cba70"
  },
  "id": "mrVhpD4m4gGYToLv",
  "tags": []
}