youtube-content-opportunity-analysis/workflow.json
{
  "name": "Content Opportunity Analysis: YouTube → Data Scoring → AI Summary → Slack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -256
      ],
      "id": "470be1ca-1e48-48d0-a356-699cd04c0bbe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "={{$json.seed_topics}}"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "maxResults",
              "value": "20"
            },
            {
              "name": "publishedAfter",
              "value": "={{ $now.minus({ days: 7 }).toUTC().toFormat(\"yyyy-MM-dd'T'HH:mm:ss'Z'\") }}"
            },
            {
              "name": "key",
              "value": "YOUTUBE_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -320
      ],
      "id": "9c7dacf6-38c7-44c6-a304-a8c022fda6e6",
      "name": "YouTube Search Videos",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "=snippet,statistics"
            },
            {
              "name": "id",
              "value": "={{ $json.videoIds }}"
            },
            {
              "name": "key",
              "value": "YOUTUBE_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        912,
        -256
      ],
      "id": "0757f175-f85d-4b1a-93cb-b11fbc2cd1e3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        -256
      ],
      "id": "fd775660-a1d6-4e0f-809f-107cf2393d09",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "=You're an expert content creator and scriptwriter. You will receive structured data from YouTube.\n\nTask:\n1. List the top 3 videos with title, youtube link and key metrics\n2. Write ONE short paragraph identifying the business problem these videos are solving, the specific type of businesses experiencing it, and how this insight could be monetized as a service, product, or consulting offer.\n\nSelection criteria:\n- Higher views_per_day\n\nOutput rules:\n- Plain text in a bulleted format in this way:\n  - Title\n  - Link\n  - Views\n  - Likes\n  - Comments\n  - View per day\n- No markdown, no explanations, no headers, no extra formatting"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1584,
        -256
      ],
      "id": "ed7858d7-9e5b-41a1-9afb-7ccacecae281",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1600,
        -32
      ],
      "id": "0d5fc1ec-f27b-4c1a-b7fc-da3e08987edd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UQSuvv2iVHScXZDc",
          "name": "OpenAi account - Export"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=youtube_opportunity_analysis_{{ $json.generated_at.slice(0,10) }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1728,
        -32
      ],
      "id": "3d2758c4-8659-4ada-93e8-4574f642d4d5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"seed_topics\": [\n    \"AI agents how to\",\n    \"workflow automation how to\",\n    \"business automation how to\",\n    \"marketing automation how to\",\n    \"AI automation for business\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -256
      ],
      "id": "99952e6a-17af-48a6-bf4f-447517350b40",
      "name": "Define Seed Topics"
    },
    {
      "parameters": {
        "fieldToSplitOut": "seed_topics",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        16,
        -256
      ],
      "id": "1bdfc916-c8ea-4df7-81cc-6b3d49898525",
      "name": "Iterate Topics"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ids = $json.items\n  .map(i => i.id?.videoId)\n  .filter(Boolean);\n\nreturn {\n  topic: $json.seed_topics,\n  videoIds: ids.join(',')\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -256
      ],
      "id": "57e007b5-257d-4227-85fc-5fd07f41fc65",
      "name": "Extract Video IDs"
    },
    {
      "parameters": {
        "jsCode": "const now = Date.now();\n\n// HTTP Request returns ONE item with an `items` array\nconst videos = items[0].json.items || [];\n\nconst results = videos\n  .map(v => {\n    // HARD GUARD\n    if (!v.snippet || !v.statistics || !v.snippet.publishedAt) {\n      return null;\n    }\n\n    const published = new Date(v.snippet.publishedAt);\n    const days = Math.max(\n      1,\n      (now - published.getTime()) / (1000 * 60 * 60 * 24)\n    );\n\n    return {\n      //topic: items[0].json.seed_topics ?? null, // optional, explained below\n      title: v.snippet.title,\n      description: v.snippet.description || \"\",\n      tags: v.snippet.tags || [],\n      views: Number(v.statistics.viewCount || 0),\n      likes: Number(v.statistics.likeCount || 0),\n      comments: Number(v.statistics.commentCount || 0),\n      views_per_day: Math.round(\n        Number(v.statistics.viewCount || 0) / days\n      ),\n      publishedAt: v.snippet.publishedAt,\n      videoUrl: `https://www.youtube.com/watch?v=${v.id}`\n    };\n  })\n  .filter(Boolean);\n\n// Sort by opportunity\nresults.sort((a, b) => {\n  if (b.views_per_day !== a.views_per_day) {\n    return b.views_per_day - a.views_per_day;\n  }\n  return new Date(b.publishedAt) - new Date(a.publishedAt);\n});\n\n// Return in n8n format\nreturn results.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -256
      ],
      "id": "770bf111-e8f5-4966-81da-75e8da2a11b3",
      "name": "Compute Opportunity Score"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        -256
      ],
      "id": "c9bd8985-b0d2-4b51-9a35-2b8dc73ce069",
      "name": "Select Top Opportunities"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "=YOUR_CHANNEL_ID",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1936,
        -256
      ],
      "id": "704a64a3-456f-4487-a80b-7f0b226a7b8e",
      "name": "Publish Insights to Slack",
      "webhookId": "369255ed-7de8-45c8-9695-103486c0a82f",
      "credentials": {
        "slackApi": {
          "id": "IotkWcm2B6bCks2j",
          "name": "Slack account  - Export Credentials"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Define Seed Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Search Videos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Compute Opportunity Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract Video IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Publish Insights to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Seed Topics": {
      "main": [
        [
          {
            "node": "Iterate Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate Topics": {
      "main": [
        [
          {
            "node": "YouTube Search Videos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Video IDs": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Opportunity Score": {
      "main": [
        [
          {
            "node": "Select Top Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Top Opportunities": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "nSuHsirH7uMBPzpX"
  },
  "versionId": "dd037074-2b1c-4638-b6a7-7f4f4ec58aaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b190d774a77c62336d9d3921e7d2d1e3765940e3c528e8ff3b7a9609335cba70"
  },
  "id": "qGHZ8AAC4cBnxxfB",
  "tags": [
    {
      "updatedAt": "2026-01-06T16:38:10.602Z",
      "createdAt": "2026-01-06T16:38:10.602Z",
      "id": "2JWOfOepcXcp07qQ",
      "name": "dummy"
    }
  ]
}